<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
 <head>
   <title>Health Details Form</title>
   <link
     rel="stylesheet"
     th:href="@{https://fonts.googleapis.com/css?family=Poppins}"
   />
   <link 
     rel="stylesheet" 
     type="text/css" 
     th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
   />
   <link rel="stylesheet" type="text/css" th:href= "@{/css/dashboard.css}" />
   <link rel="stylesheet" type="text/css" th:href= "@{/css/header.css}"/>
 </head>
 <body>
       <!-- HEADER -->
       <header id = "main-header">
          <div class="header-container">
          
             <!-- HEADER HEADING -->
             <div class = "grid-item">
               <img th:src = "@{/img/logo.png}" class = "main-logo">
             </div>
             
             <div class="heading grid-item">Dillimate</div>
             <div class="admin-dashboard-header-links grid-item">
                <a th:href = "@{/logout}">Logout</a>           
             </div>
             
          </div>
        </header>

        <!-- BODY -->
        <section id = "main-body-content">
           
           <!-- DASHBOARD SIDEBAR -->
           <div class = "grid-item sidebar-left-panel">
             <div class = "user-profile">
               <img th:src = "@{/img/profilePic.jpg}" class = "profile-pic"/>
             </div>
             
             <div class = "user-profile-name">
               <!-- <span sec:authentication="principal.username">Johnson Stuwart</span>-->
             </div>
             
             <div th:insert = "sidebar::sidebar1"></div>
             
           </div>
           
           <div class = "grid-item sidebar-right-panel">
             <h1 class = "right-panel-heading">Admin Dashboard</h1><hr>
             
             <div class = "main-container">  
               <h2 align = "center">Add New Clinic Details</h2>      
               <div class = "museum-form-container">
      
               <form th:action = "@{${'/add/clinic/' + role + '/' + id}}" th:object = "${clinic}" 
                     method = "post" enctype="multipart/form-data">
                 <p class="error-message" 
                    th:if="${#fields.hasGlobalErrors()}" 
                    th:each="error : ${#fields.errors('global')}" 
                    th:text="${error}">Validation error</p> 
             
                 <div class="form-group" 
                    th:classappend="${#fields.hasErrors('clinicName')}? 'has-error':''">
                    <label for="name">Clinic Name : </label>
                    <input 
                     type="text"
                     id="clinicName"
                     name="clinicName"
                     class="form-control"
                     th:field="*{clinicName}"  
                     placeholder="Enter Clinic name"/>
                    <p class="error-message" 
                       th:each="error: ${#fields.errors('clinicName')}" th:text="${error}">
                     Validation error
                    </p>
                 </div>
                 
                 <div class="form-group" 
                      th:classappend="${#fields.hasErrors('about')}? 'has-error':''">
                    <label for="name">About : </label>
                    <textarea 
                     class="form-control rounded-0" 
                     id="about"
                     name="about"
                     th:field= "*{about}" 
                     placeholder="Enter about clinic"
                     rows="2">
                    </textarea>
                    <p class="error-message" 
                       th:each="error: ${#fields.errors('about')}" th:text="${error}">
                     Validation error
                    </p>
                 </div> 
          
                 <div class="form-group" 
                      th:classappend="${#fields.hasErrors('address')}? 'has-error':''">
                    <label for="name">Address : </label>
                    <textarea 
                     class="form-control rounded-0" 
                     id="address"
                     name="address"
                     th:field= "*{address}" 
                     placeholder="Enter the clinic address"
                     rows="2">
                    </textarea>
                    <p class="error-message" 
                       th:each="error: ${#fields.errors('address')}" th:text="${error}">
                      Validation error
                    </p>
                 </div>
                 
                  <div class="form-group" 
                      th:classappend="${#fields.hasErrors('openingTime')}? 'has-error':''">
                    <label for="name">Opening Time : </label>
                    <input 
                     type="time" 
                     class="form-control"
                     id="openingTime" 
                     name="openingTime" 
                     th:field="*{openingTime}" />
                    <p class="error-message" 
                       th:each="error: ${#fields.errors('openingTime')}" th:text="${error}">
                      Validation error
                    </p>
                 </div> 
          
                 <div class="form-group" 
                      th:classappend="${#fields.hasErrors('closingTime')}? 'has-error':''">
                    <label for="name">Closing Time : </label>
                    <input 
                     type="time" 
                     class="form-control"
                     id="closingTime" 
                     name="closingTime" 
                     th:field="*{closingTime}" />
                    <p class="error-message" 
                       th:each="error: ${#fields.errors('closingTime')}" th:text="${error}">
                      Validation error
                    </p>
                 </div> 
          
                 <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicFees')}? 'has-error':''">
                  <label for="name">Clinic Fees : </label>
                  <input 
                   type="number" 
                   class="form-control"
                   id="clinicFees" 
                   name="clinicFees" 
                   th:field="*{clinicFees}" />
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicFees')}" th:text="${error}">
                    Validation error
                  </p>
                </div> 
                
                <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicPic1')}? 'has-error':''">
                  <label for="name">Clinic image 1 : </label>
                  <input 
                   type="file" 
                   class="form-control"
                   id="clinicPic1" 
                   name="clinicPic1" 
                   th:field="*{clinicPic1}" 
                   accept="image/png, image/jpeg"/>
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicPic1')}" th:text="${error}">
                    Validation error
                  </p>
                </div> 
                
                <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicPic2')}? 'has-error':''">
                  <label for="name">Clinic image 2 : </label>
                  <input 
                   type="file" 
                   class="form-control"
                   id="clinicPic2" 
                   name="clinicPic2" 
                   th:field="*{clinicPic2}" 
                   accept="image/png, image/jpeg"/>
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicPic2')}" th:text="${error}">
                    Validation error
                  </p>
                </div>
                
                <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicPic3')}? 'has-error':''">
                  <label for="name">Clinic image 3 : </label>
                  <input 
                   type="file" 
                   class="form-control"
                   id="clinicPic3" 
                   name="clinicPic3" 
                   th:field="*{clinicPic3}" 
                   accept="image/png, image/jpeg"/>
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicPic3')}" th:text="${error}">
                    Validation error
                  </p>
                </div>
                
                <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicPic4')}? 'has-error':''">
                  <label for="name">Clinic image 4 : </label>
                  <input 
                   type="file" 
                   class="form-control"
                   id="clinicPic4" 
                   name="clinicPic4" 
                   th:field="*{clinicPic4}" 
                   accept="image/png, image/jpeg"/>
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicPic4')}" th:text="${error}">
                    Validation error
                  </p>
                </div>
                
                <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicPic5')}? 'has-error':''">
                  <label for="name">Clinic image 5 : </label>
                  <input 
                   type="file" 
                   class="form-control"
                   id="clinicPic5" 
                   name="clinicPic5" 
                   th:field="*{clinicPic5}" 
                   accept="image/png, image/jpeg"/>
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicPic5')}" th:text="${error}">
                    Validation error
                  </p>
                </div>
                
                <div class="form-group" 
                      th:classappend="${#fields.hasErrors('clinicPic6')}? 'has-error':''">
                  <label for="name">Clinic image 6 : </label>
                  <input 
                   type="file" 
                   class="form-control"
                   id="clinicPic6" 
                   name="clinicPic6" 
                   th:field="*{clinicPic6}" 
                   accept="image/png, image/jpeg"/>
                  <p class="error-message" 
                     th:each="error: ${#fields.errors('clinicPic6')}" th:text="${error}">
                    Validation error
                  </p>
                </div>      
          
               <div style = "float:right">
                  <button type = "submit" class = "btn btn-danger">Submit</button>
               </div>         
             </form>
            </div>
           </div>      
             
         </div>             
        </section>

        <!-- FOOTER -->
        <footer id = "main-footer"></footer>
        
        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script> 
        <script type = "text/javascript" th:src="@{/js/adminDashboard.js}"></script>
             
  </body>
</html>