<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
    <title>Hotel Details</title>
    <head>
        <link
           rel="stylesheet"
           th:href="@{https://fonts.googleapis.com/css?family=Poppins}"
        />
        <link 
           rel="stylesheet" 
           type="text/css" 
           th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
        />
        <link 
           rel="stylesheet" 
           type="text/css" 
           th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
        />
        <link rel="stylesheet" type="text/css" th:href= "@{/css/dashboard.css}" />
        <link rel="stylesheet" type="text/css" th:href= "@{/css/header.css}"/>
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/carousel1.css}"/>
    </head>
    <body>
        <!-- HEADER -->
        <header id = "main-header">
          <div class="header-container">
          
             <!-- HEADER HEADING -->
             <div class = "grid-item">
               <img th:src = "@{/img/logo.png}" class = "main-logo">
             </div>
             
             <div class="heading grid-item">Dillimate</div>
             <div class="admin-dashboard-header-links grid-item">
                <a th:href = "@{/logout}">Logout</a>           
             </div>
             
          </div>
        </header>

        <!-- BODY -->
        <section id = "main-body-content">
           
           <!-- DASHBOARD SIDEBAR -->
           <div class = "grid-item sidebar-left-panel">
             <div class = "user-profile">
               <img th:src = "@{/img/profilePic.jpg}" class = "profile-pic"/>
             </div>
             
             <div class = "user-profile-name">
               <!-- <span sec:authentication="principal.username">Johnson Stuwart</span>-->
             </div>
             
             <div th:insert = "sidebar::sidebar1"></div>
             
           </div>
           
           <div class = "grid-item sidebar-right-panel">
             <h1 class = "right-panel-heading">Admin Dashboard</h1><hr>
             
             <div class = "welcome-page">
              <h2 align = "center">Hotel Details</h2>
              
              <div class = "details-margin">
                 <div style = "margin: 0px 50px 0px 50px">
                   <ul class="gallery">
	                 <li>
	                   <img th:src="@{${'/hotel/display/' + hotel.hotelId + '/1'}}" class = "image-size" />
	                 </li>
	                 <li>
	                   <img th:src="@{${'/hotel/display/' + hotel.hotelId + '/2'}}" class = "image-size" />
	                 </li>
	                 <li>
	                   <img th:src="@{${'/hotel/display/' + hotel.hotelId + '/3'}}" class = "image-size" />
	                 </li>
	                 <li>
	                   <img th:src="@{${'/hotel/display/' + hotel.hotelId + '/4'}}" class = "image-size" />
	                 </li>
	                 <li>
	                   <img th:src="@{${'/hotel/display/' + hotel.hotelId + '/5'}}" class = "image-size" />
	                 </li>
	                 <li>
	                   <img th:src="@{${'/hotel/display/' + hotel.hotelId + '/6'}}" class = "image-size" />
	                 </li>
                   </ul>     
                 </div>
                 
                 <table class="table table-bordered">
                  <tr>
                    <td><b>Hotel Id</b></td> 
                    <td th:text = "${hotel.hotelId}">001</td>                   
                  </tr>
                  <tr>
                    <td><b>Hotel Name</b></td> 
                    <td th:text = "${hotel.hotelName}">Hotel</td>                   
                  </tr>
                  <tr>
                    <td><b>About</b></td> 
                    <td th:text = "${hotel.about}">about</td>                   
                  </tr>
                  <tr>
                    <td><b>Address</b></td> 
                    <td th:text = "${hotel.address}">Address</td>                   
                  </tr>
                  <tr>
                    <td><b>Phone Number</b></td> 
                    <td th:text = "${hotel.phoneNo}">7375893658</td>                   
                  </tr>
                  <tr>
                    <td><b>Services</b></td> 
                    <td th:text = "${hotel.services}">Services</td>                   
                  </tr>
                  <tr>
                    <td><b>Room</b></td> 
                    <td th:text = "${hotel.room}">78</td>                   
                  </tr>
                  <tr>
                    <td><b>Price</b></td> 
                    <td th:text = "${hotel.price}">789</td>                   
                  </tr>
                  <tr>
                    <td><b>Rating</b></td> 
                    <td th:text = "${hotel.rating}">5.0</td>                   
                  </tr>
                 </table>
               </div>
              
              <div class = "add-new-btn">
               <a th:href= "@{${'/dashboard/show/hotelList/' + role + '/' + id}}" 
                  class="btn btn-primary add-new-museum">
                 Back
               </a>
              </div>
              
             </div>                     
                        
           </div>
           
        </section>

        <!-- FOOTER -->
        <footer id = "main-footer"></footer>
        
        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script> 
        <script type="text/javascript" th:src="@{/js/adminDashboard.js}"></script>
        
        <!-- SCRIPT FILES -->
        <script type = "text/javascript" th:src = "@{/js/carousel1.js}"></script>
    </body>
</html>