<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
    <title>CRUD operation for restaurant</title>
    <head>
        <link
           rel="stylesheet"
           th:href="@{https://fonts.googleapis.com/css?family=Poppins}"
        />
        <link 
           rel="stylesheet" 
           type="text/css" 
           th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
        />
        <link 
           rel="stylesheet" 
           type="text/css" 
           th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
        />
        <link rel="stylesheet" type="text/css" th:href= "@{/css/dashboard.css}" />
        <link rel="stylesheet" type="text/css" th:href= "@{/css/header.css}"/>
    </head>
    <body>
        <!-- HEADER -->
        <header id = "main-header">
          <div class="header-container">
          
             <!-- HEADER HEADING -->
             <div class = "grid-item">
               <img th:src = "@{/img/logo.png}" class = "main-logo">
             </div>
             
             <div class="heading grid-item">Dillimate</div>
             <div class="admin-dashboard-header-links grid-item">
                <a th:href = "@{/logout}">Logout</a>           
             </div>
             
          </div>
        </header>

        <!-- BODY -->
        <section id = "main-body-content">
           
           <!-- DASHBOARD SIDEBAR -->
           <div class = "grid-item sidebar-left-panel">
             <div class = "user-profile">
               <img th:src = "@{/img/profilePic.jpg}" class = "profile-pic"/>
             </div>
             
             <div class = "user-profile-name">
               <!-- <span sec:authentication="principal.username">Johnson Stuwart</span>-->
             </div>
             
             <div th:insert = "sidebar::sidebar1"></div>
             
           </div>
           
           <div class = "grid-item sidebar-right-panel">
             <h1 class = "right-panel-heading">Admin Dashboard</h1><hr>
             
             <div class = "welcome-page">
               <h2 align = "center">CRUD Operation on Restaurant List</h2>
               <div class = "table-margins">
                <table class="table table-bordered">
                 <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Restaurant Name</th>
                  <th scope="col">Opening Time</th>
                  <th scope="col">Closing Time</th>
                  <th scope="col">Delete</th>
                  <th scope="col">View</th>
                 </tr>
                 <tr th:each = "restaurant: ${restaurants}">	      
				  <td th:text = "${restaurant.restaurantId}">5840</td>
			      <td th:text = "${restaurant.restaurantName}">restaurant</td>
				  <td th:text = "${restaurant.openingTime}">07:15</td>
				  <td th:text = "${restaurant.closingTime}">11:13</td>	
				  <td>
				     <a th:href = "@{${'/delete/restaurant/' + restaurant.restaurantId + '/' + role + '/' + id }}">
				       <i class="fa fa-trash" style="font-size:20px;color:red;"></i>
				     </a>
				  </td>	    
				  <td>
				     <a th:href = "@{${'/show/restaurantDetails/' + restaurant.restaurantId + '/' + role + '/' + id }}">
				       <i class="fa fa-eye" style="font-size:20px;color:blue;"></i>
				     </a>
				  </td>
				</tr>
                </table>
              </div>
              <div class = "add-new-btn">
               <a th:href= "@{${'/restaurant/form/' + role + '/' + id}}" 
                  class="btn btn-primary add-new-museum">
                 Add New
               </a>
              </div>
              
             </div>                     
                        
           </div>
           
        </section>

        <!-- FOOTER -->
        <footer id = "main-footer"></footer>
        
        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script> 
        <script type="text/javascript" th:src="@{/js/adminDashboard.js}"></script>
    </body>
</html>